<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-4.5.2/css/bootstrap.min.css')}}">
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js')}}"></script>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        {% block home_scripts %}{% endblock %}
    </head>
    <body>
        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>
        {% block end_body_scripts %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/popper-1.16.1/popper.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-4.5.2/js/bootstrap.min.js')}}"></script>
    </body>
</html>