{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block home_scripts %}
    <link  href="{{ url_for('static', filename='js/video-js.7.9.5.min.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/socket.io-4.1.2/socket.io.min.js')}}" type="text/javascript"></script>
    <link  href="{{ url_for('static', filename='js/dropzone.5.7.2.min.css')}}" rel="stylesheet"/>
    <link  href="{{ url_for('static', filename='js/dropzone.basic.5.7.2.min.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/dropzone.5.7.2.min.js')}}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/vis-timeline/vis-timeline-graph2d.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/vis-timeline/vis-timeline-graph2d.min.css')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.all.min.js')}}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='js/sweetalert/sweetalert.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/sweetalert/sweetalert.css')}}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='js/visualizer.js')}}"></script>
    <style type="text/css">
        .vis-item.example {
            background-color: rgb(204, 207, 3);
            border-color: rgb(111, 61, 175);
            color: rgb(56, 56, 56);
            font-family: monospace;
            /* box-shadow: 0 0 10px gray; */
        }
        .vis-item.vis-dot {
            border-radius:2px;
        }
        .vis-item.vis-dot.example {
            border-radius: 0px;
            border-width: 2px;
        }
        .vis-item.vis-line.example {
            border-width: 2px;
        }
        .vis-item.vis-box.example {
            border-radius: 0;
            border-width: 2px;
            font-size: 24pt;
            font-weight: bold;
        }
        /* .vis-item.triaged-victim {
            background-color: rgb(20, 100, 0);
            border-color: rgb(20, 100, 0);
            color: rgb(20, 100, 0);
        }
        .vis-item.vis-dot.triaged-victim {
            border-radius: 3px;
            border-width: 3px;
        }
        .vis-item.triaged-critical-victim {
            background-color: rgb(189, 223, 0);
            border-color: rgb(189, 223, 0);
            color: rgb(189, 223, 0);
        }
        .vis-item.vis-dot.triaged-critical-victim {
            border-radius: 5px;
            border-width: 5px;
        } */
        .faq {
            padding: 1.5rem;
        }
        details {
            border: 1px solid #ddd;
            background: #fff;
            margin-bottom: 1.5rem;
            border-radius: 0.35rem;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
        summary {
            cursor: pointer;
            padding: 1rem;
            border-bottom: 1px solid #ddd;
        }
        .faq.details.div {
            padding: 1rem 1.5rem;
        }
    </style>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <video id="my-video" class="video-js" controls preload="auto" width="680" height="400"
                data-setup='{ "playbackRates": [0.5, 1, 2, 4]}'>
                <source src="static/videos/30minutes.mp4" type="video/mp4" />
            </video>
            <table class="table table-sm" style="width:500px">
                <!-- <thead class="thead-sm">
                    <tr>
                        <th class="th-sm" style="width: 20%">Mission</th>
                        <th style="width: 20%">Time</th>
                        <th style="width: 8%">Score</th>
                    </tr>
                </thead> -->
                <tbody class="tbody-sm">
                    <tr>
                        <td class='td-sm'><small><b>Mission:</b></small></td>
                        <td class="td-sm" id="mission_name"><small>UNKNOWN</small></td>
                        <td class='td-sm'><small><b>Time:</b></small></td>
                        <td id="mission_timer"><small>??:??</small></td>
                        <td class='td-sm'><small><b>Score:</b></small></td>
                        <td id="mission_score"><small>0</small></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm">
                <thead class="thead-sm">
                    <tr>
                        <th class="th-sm" style="width: 6%"><small><b>CS</b></small></th>
                        <th style="width: 10%"><small><b>State</b></small></th>
                        <th style="width: 6%"><small><b>Scr</b></small></th>
                        <th style="width: 8%"><small><b>Roll</b></small></th>
                        <th style="width: 6%"><small><b>%</b></small></th>
                        <th style="width: 4%"><small><b>RB</b></small></th>
                        <th style="width: 4%"><small><b>VM</b></small></th>
                        <th style="width: 4%"><small><b>RT</b></small></th>
                        <th style="width: 4%"><small><b>RE</b></small></th>
                        <th style="width: 4%"><small><b>CT</b></small></th>
                        <th style="width: 4%"><small><b>CE</b></small></th>
                        <th style="width: 40%"><small><b>Location</b></small></th>
                    </tr>
                </thead>
                <tbody class="tbody-sm">
                    <tr>
                        <td class="td-sm"><small>Red</small></td>
                        <td id="m_R_st"><small></small></td>
                        <td id="m_R_sc"><small>0</small></td>
                        <td id="m_R_rl"><small>NONE</small></td>
                        <td id="m_R_tl"><small>0.0</small></td>
                        <td id="m_R_rb"><small>0</small></td>
                        <td id="m_R_mv"><small>0</small></td>
                        <td id="m_R_nv"><small>0</small></td>
                        <td id="m_R_ne"><small>0</small></td>
                        <td id="m_R_cv"><small>0</small></td>
                        <td id="m_R_ce"><small>0</small></td>
                        <td id="m_R_loc"><small>UNKNOWN</small></td>
                    </tr>
                    <tr>
                        <td class="td-sm"><small>Green</small></td>
                        <td id="m_G_st"><small></small></td>
                        <td id="m_G_sc"><small>0</small></td>
                        <td id="m_G_rl"><small>NONE</small></td>
                        <td id="m_G_tl"><small>0.0</small></td>
                        <td id="m_G_rb"><small>0</small></td>
                        <td id="m_G_mv"><small>0</small></td>
                        <td id="m_G_nv"><small>0</small></td>
                        <td id="m_G_ne"><small>0</small></td>
                        <td id="m_G_cv"><small>0</small></td>
                        <td id="m_G_ce"><small>0</small></td>
                        <td id="m_G_loc"><small>UNKNOWN</small></td>
                    </tr>
                    <tr>
                        <td class="td-sm"><small>Blue</small></td>
                        <td id="m_B_st"><small></small></td>
                        <td id="m_B_sc"><small>0</small></td>
                        <td id="m_B_rl"><small>NONE</small></td>
                        <td id="m_B_tl"><small>0.0</small></td>
                        <td id="m_B_rb"><small>0</small></td>
                        <td id="m_B_mv"><small>0</small></td>
                        <td id="m_B_nv"><small>0</small></td>
                        <td id="m_B_ne"><small>0</small></td>
                        <td id="m_B_cv"><small>0</small></td>
                        <td id="m_B_ce"><small>0</small></td>
                        <td id="m_B_loc"><small>UNKNOWN</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div id = "trial_selection" class="form-group">
                        <select name="trials" id="trials" class="form-control form-control-sm">
                            <option value="default">Upload a Trial...</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-auto">
                    <button id="trial-filter" aria-label="Center Align" onclick="setTrialListFilter()" title="Filter">Filter...</button>
                    <button id="delete_selected" type="button" class="btn btn-default px-0 py-0" aria-label="Center Align" onclick="deleteSelected()" title="Delete this Trial..">
                        <img src="{{ url_for('static', filename='js/bootstrap-icons-1.0.0/x-circle.svg')}}" width="24" height="24">
                    </button>
                </div>
            </div>
            <div id="trial_load_progress" class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Please Wait. Loading Trial...</div>
                </br>
            </div>
            <div id="dropzone_container">
                <form method="POST" action='/upload' class="dropzone dz-clickable" id="dropper" enctype="multipart/form-data"></form>
                <script type="application/javascript">
                    Dropzone.options.dropper = {
                        init: function() {
                            this.on("success", function(file) { socket.emit('get_trial_list', {}, namespace='/ihmc_replay_visualizer'); });
                        },
                        paramName: 'file',
                        chunking: true,
                        forceChunking: true,
                        url: '/upload',
                        acceptedFiles: '.mp4,.metadata',
                        maxFilesize: 4196, // megabytes
                        chunkSize: 1000000 // bytes
                    }
                </script>
                </br>
            </div>
            <div class="row">
                <!-- <div style="overflow: auto;"> -->
                <div class="col">
                    <div id="div_map" style="border:1px solid black;height:500px;overflow:auto;"></div>
                </div>
            </div>
            <div class="row" style="height:10px;">
            </div>
            <div class="row">
                <button type="button" class="btn btn-default px-0 py-0" aria-label="Left Align" onclick="zoomIn()">
                    <img src="{{ url_for('static', filename='js/bootstrap-icons-1.0.0/zoom-in.svg')}}" alt="" width="20" height="20">
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-default px-0 py-0" aria-label="Left Align" onclick="zoomOut()">
                    <img src="{{ url_for('static', filename='js/bootstrap-icons-1.0.0/zoom-out.svg')}}" alt="" width="20" height="20">
                </button>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" checked id="show_path_red" onclick="toggleShowPathRed()">
                    <span class="slider round"></span>
                </label>
                <label>Show Red</label>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" checked id="show_path_green" onclick="toggleShowPathGreen()">
                    <span class="slider round"></span>
                </label>
                <label>Show Green</label>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" checked id="show_path_blue" onclick="toggleShowPathBlue()">
                    <span class="slider round"></span>
                </label>
                <label>Show Blue</label>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" checked id="show_blockages" onclick="toggleShowBlockages()">
                    <span class="slider round"></span>
                </label>
                <label>Rubble</label>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" checked id="show_markers" onclick="toggleShowMarkers()">
                    <span class="slider round"></span>
                </label>
                <label>Markers</label>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" checked id="show_victims" onclick="toggleShowVictims()">
                    <span class="slider round"></span>
                </label>
                <label>Victims</label>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-2">
            <b>Annotation Timeline</b>
        </div>
    </div> -->
    <div class="row">
        <div class="col">
            <label>Role/Tool: </label>
            <img src="{{ url_for('static', filename='images/RoleKey.png')}}"></img>
        </div>
        <div class="col">
        </div>
        <div class="col-md-auto">
            <button id="refresh-timeline" aria-label="Center Align" onclick="trialSelected()" title="Reload the Current Trial">Reload</button>
            <button id="refresh-timeline" aria-label="Center Align" onclick="regenerateTrial()" title="Regenerate data for the Current Trial">Regenerate</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="anotation-timeline"></div>
        </div>
    </div>
    <div class="row" style="height:10px;">
    </div>
    <div class="row">
        <div class="col-md-auto">
            <label><b>Annotations</b></label>
        </div>
        <div class="col-md-auto">
            <button id="filter-timeline" aria-label="Center Align" onclick="openFilterTimelineDialog()" title="Open Annotation Filter Dilaog">Filters</button>
        </div>
        <div class="col-md-auto">
            <label>Types:</label>
        </div>
        <div id="css_selection" class="col-md-auto">
            <select name="css" id="css" class="form-control form-control-sm" style="width:200px;">
                <option value="default">Select A Type...</option>
            </select>
        </div>
        <div class="col-md-auto">
            <button id="new-timeline-type" aria-label="Center Align" onclick="newTimelineType()" title="Create a New Timeline Type">New</button>
            <button id="save-timeline-types" aria-label="Center Align" onclick="saveTimelineTypes()" title="Save Timeline Types">Save</button>
        </div>
        <div class="col-md-auto">
            <label>Groups: </label>
        </div>
        <div id="group_selection" class="col-md-auto">
            <select name="group" id="group" class="form-control form-control-sm" style="width:200px;">
                <option value="Teamwork">Teamwork</option>
            </select>
        </div>
        <div class="col-md-auto">
            <button id="new-timeline-group" aria-label="Center Align" onclick="newTimelineGroup()" title="Create a new Timeline Group">New</button>
            <button id="delete-timeline-group" aria-label="Center Align" onclick="deleteTimelineGroup()" title="Delete the Current Timeline Group">Delete</button>
            <button id="rename-timeline-group" aria-label="Center Align" onclick="renameTimelineGroup()" title="Rename the Current TImeline Group">Rename</button>
            <button id="clear-timeline-group" aria-label="Center Align" onclick="clearTimelineGroup()" title="Remove All Items from this Timeline Group">Clear</button>
            <button id="moveTo-timeline-group" aria-label="Center Align" onclick="moveToTimelineGroup()" title="Move Selected Items to this Timeline Group">Move To</button>
        </div>
        <div class="col">
        </div>
        <div class="col-md-auto">
            <button id="save-timeline" aria-label="Center Align" onclick="saveTimelineData()" title="Save">Save Group Changes</button>
            <button id="export-timeline" aria-label="Center Align" onclick="exportTimelineData()" title="Save">Export</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Auto Speech Recognition</b>
            <!-- <div class="border" id="asr" style="width:680px;"> -->
            <div class="border" id="asr">
                <b>Red - </b>This is Red.  I'm Frozen!! what should I do?  This is scarry!!!!<br>
                <b>Blue - </b>This is Blue.  Again??<br>
                <b>Green - </b>This is Green.  Yep he did it again!!<br>
            </div>
        </div>
    </div>
    <!-- <div style="height: 100%; float: left;">
        <table>
            <tr>
                <th>Testing</th>
            </tr>
            <tr>
                <td>1</td>
            </tr>
        </table>
    </div> -->
  </div>
{% endblock %}
{% block end_body_scripts %}
    <script src="{{ url_for('static', filename='js/video-js.7.9.5.min.js')}}"></script>
{% endblock %}
